<html>
  <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      
        <div id="header">
           {% include('header.html.twig') %}
        </div>

        <div id="wrapper">     

              

                {% block body %}
                            <h2>Lista de eventos</h2>

                            {# total items count #}
                        <div class="count">
                            {{ pagination.getTotalItemCount }}
                        </div>
                        <table>
                            <tr>
                                {# sorting of properties based on query components #}
                                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                                <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
                                </th>
                                <th{% if pagination.isSorted(['a.date', 'a.time']) %} class="sorted"{% endif %}>
                                    {{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}
                                </th>
                            </tr>

                            {# table body #}
                            {% for article in pagination %}
                                <tr {% if loop.index is odd %}class="color"{% endif %}>
                                    <td>{{ article.id }}</td>
                                    <td>{{ article.nombre }}</td>
                                    <td>{{ article.dateRegister | date('Y-m-d') }}, {{ article.dateUpdate | date('Y-m-d') }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {# display navigation #}
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                </div>
              {% endblock %}
            
        <div id="footer">
          {% include('footer.html.twig') %}
        </div>
         {% block javascripts %}{% endblock %}
    </body>
</html>